# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
DATABASE_URL=

# Redis
REDIS_PORT=
REDIS_PASSWORD=
REDIS_HOST=

# Global
NODE_ENV=

# Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Token
JWT_EXPIRES_IN=
JWT_SECRET=
JWT_AUD=
JWT_ISSUER=